<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Contactos con el Cliente</h6>
    </div>
    <div class="card-body">
      <div class="row" *ngIf="recomendaciones && recomendaciones.recomendaciones.length > 0">
        <div class="col-lg-6 mb-4">
            <div class="card bg-primary text-white shadow">
                <div class="card-body">
                    Primary
                    <div class="text-white-50 small">#4e73df</div>
                </div>
            </div>
        </div>    
    </div>
</div>